@charset "UTF-8";

/* todas as demais mídias */

/* Typical device  breakpoints
mobile (portrait)
320–480
celular novo
600 px ate 768px
tablet (portrait)
768 px ate 992 px
pc
1025–1280 px
tv
acima de 1281 em diante px

*/

@media print { 
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 90%;
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impressão foi feita através do @gersonney87';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }


    img#phone {display: none;} 
        img#tablet {display: none; }
        img#print {display: block;}
        img#pc {display: none;}
        img#tv {display: none;}
    
    /* IMPRESSÃO */

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
        img#phone {display: none;} 
        img#tablet {display: block; }
        img#print {display: none;}
        img#pc {display: none;}
        img#tv {display: none;}
    }
/* TABLET */


@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;} 
    img#tablet {display: none; }
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
} /* DESKTOP */

@media screen and (min-width: 1200px){
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;} 
    img#tablet {display: none; }
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
} /* GRANDES TELAS */